@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Đăng Nhập</title>
    <link href="~/Content/css/reset.css" rel="stylesheet" />
    <link href="~/Content/css/structure.css" rel="stylesheet" />
</head>
<body>
    <form class="box login" action="@Url.Action("XuLyDangNhap","KhachHang")" method="post">
	<fieldset class="boxBody">
	  <label>Username</label>
	  <input type="text" tabindex="1" name="txtDN"  placeholder="quandz" required>
	  <label><a href="@Url.Action("DangKy","KhachHang")" class="rLink" tabindex="5">Don't have an Account?</a>Password</label>
	  <input type="password" tabindex="2" name="txtMK" required>
	</fieldset>
	<footer>
	 <a href="@Url.Action("Index","Home")">Back to Home</a>
	  <input type="submit" class="btnLogin" value="Login" tabindex="4">
        @*<button name="btnDangNhap" type="submit" class="btn btn-danger" tabindex="4">ĐĂNG NHẬP</button>*@
	</footer>
</form>
</body>
</html>
