@{
    ViewBag.Title = "ThanhToan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h4 style="color:#fff">Đơn hàng của quý khách đã được chúng tôi ghi nhận. Chúng tôi sẽ liên hệ quý khách trong thời gian sớm nhất và giao hàng đúng hạn.</h4>
<p>
    @Html.ActionLink("Về Trang Chủ", "Index", "Home")
</p>
</div>

