@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container max900">
		<div class="row">
		<div class="ct-div-sub">
			<div style="margin-bottom:10px; font-size:15px;">
				<p>
	&nbsp;</p>
<p>
<p>
	<span style="font-family:times new roman,times,serif;"><span style="font-size: 16px;"><span style="color:#ff0066;"><strong>Địa chỉ:</strong></span> 313 Nguyễn Thiện Thuật, P1, Q3, TP. Hồ Chí Minh.</span></span></p>
<p>
	<span style="font-family:times new roman,times,serif;"><span style="font-size: 16px;"><span style="color:#ff0066;"><strong>Tel: </strong></span>(028)&nbsp; 627 68 186</span></span></p>
<p>
	<span style="font-family:times new roman,times,serif;"><span style="font-size: 16px;"><span style="color:#ff0066;"><strong>Hotline:</strong></span> 0985 608060</span></span></p>
<p>
	<span style="font-family:times new roman,times,serif;"><span style="font-size: 16px;"><span style="color:#ff0066;"><strong>E-mail: </strong></span>hoatuoisaigon@gmail.com</span></span></p>
<p>
	<span style="font-family:times new roman,times,serif;"><span style="font-size: 16px;"><span style="color:#ff0066;"><strong>Website:</strong></span> <a href="http://www.hoasaigon.com.vn">http://www.hoasaigon.com.vn</a></span></span></p>
<p>
	&nbsp;</p>
<p style="text-align: center;">
	<img alt="Hoa Sài Gòn chính là thương hiệu hoa tươi số 1 tại TP.HCM " src="/kcfinder/upload/images/lien-he-voi-hoa-sai-gon-1.jpg" style="width: 600px; height: 224px;" title="Hoa Sài Gòn chính là thương hiệu hoa tươi số 1 tại TP.HCM "></p>
<p style="text-align: center;">
	<em><span style="color:#0000ff;"><span style="font-family: times new roman,times,serif;"><span style="font-size: 16px;">Hoa Sài Gòn chính là thương hiệu hoa tươi số 1 tại TP.HCM </span></span></span></em></p>
<p style="text-align: center;">
	&nbsp;</p>
<p>
	<span style="font-family:times new roman,times,serif;"><span style="font-size: 16px;">Hoa Sài Gòn chính là thương hiệu hoa tươi nổi tiếng tại TP.HCM chúng tôi chuyên cung cấp những mẫu mã hoa mới lạ, độc đáo và sáng tạo nhằm đáp ứng tối đa tất cả mọi nhu cầu của khách hàng.</span></span></p>
<p>
	<span style="font-family:times new roman,times,serif;"><span style="font-size: 16px;">Chúng tôi hiện cung cấp các dịch vụ điện hoa toàn quốc, điện hoa khai trương, điện hoa chúc mừng, điện hoa trong ngày lễ, giao hàng tận nơi và nhanh chóng, đặc biệt có nhiều hình thức thanh toán ưu việt gọn nhẹ.</span></span></p>
<p>
	&nbsp;</p>
<p style="text-align: center;">
	<img alt="Đội ngũ nhân viên tại Hoa Sài Gòn vô cùng chuyên nghiệp và sáng tạo" src="/kcfinder/upload/images/lien-he-voi-hoa-sai-gon-2.jpg" style="width: 500px; height: 375px;" title="Đội ngũ nhân viên tại Hoa Sài Gòn vô cùng chuyên nghiệp và sáng tạo"></p>
<p style="text-align: center;">
	<em><span style="font-family:times new roman,times,serif;"><span style="font-size: 16px;"><span style="color: rgb(0, 0, 255);">Đội ngũ nhân viên tại Hoa Sài Gòn</span></span></span></em></p>
<p style="text-align: center;">
	&nbsp;</p>
<p>
	<span style="font-size:18px;"><span style="color: rgb(0, 128, 0);"><strong><span style="font-family: times new roman,times,serif;">Đến với Hoa Sài Gòn quý khách sẽ nhận được rất nhiều ưu đãi tuyệt vời như</span></strong></span></span></p>
<p>
	<span style="font-family:times new roman,times,serif;"><span style="font-size: 16px;"><img alt="" src="/kcfinder/upload/images/tay-chi-huong.png" style="width: 20px; height: 20px;"> Thanh toán trực tuyến nhanh gọn và tiện lợi.</span></span></p>
<p>
	<span style="font-family:times new roman,times,serif;"><span style="font-size: 16px;"><span style="font-family:times new roman,times,serif;"><span style="font-size: 16px;"><img alt="" src="/kcfinder/upload/images/tay-chi-huong.png" style="width: 20px; height: 20px;"> </span></span>Thanh toán kiều hối, paypal và các hình thức thanh toán quốc tế khác. Tiện lợi cho người đang làm việc và sinh sống tại nước ngoài muốn tặng hoa cho người thân</span></span></p>
<p>
	<span style="font-family:times new roman,times,serif;"><span style="font-size: 16px;"><span style="font-family:times new roman,times,serif;"><span style="font-size: 16px;"><img alt="" src="/kcfinder/upload/images/tay-chi-huong.png" style="width: 20px; height: 20px;"> </span></span>Cung cấp tất cả những dòng hoa tươi cùng các loại hoa trên thị trường như hoa sinh nhật, hoa cưới, hoa bàn tiệc, hoa giỏ, kệ hoa, hoa khai trương, hoa chúc mừng ..v.v</span></span></p>
<p>
	&nbsp;</p>
			</div>
			<form action="#" id="formContact" class="webForm" enctype="multipart/form-data">
				<table>
					<tbody><tr>
						<td>
							<label>Họ tên <span class="required">*</span></label>
							<input type="text" id="contactName" required="" class="validate[required]" value="">
						</td>
					</tr>
					<tr>
						<td>
							<label>Điện thoại <span class="required">*</span></label>
							<input type="text" id="contactPhone" required="" class="validate[required,custom[phone]]" value="">
						</td>
					</tr>
					<tr>
						<td>
							<label>Email <span class="required">*</span></label>
							<input type="text" id="contactEmail" required="" class="validate[required,custom[email]]" value="">
						</td>
					</tr>
					<tr>
						<td>
							<label>Tin nhắn của bạn <span class="required">*</span></label>
							<textarea id="contactMessage" required="" cols="5" rows="5" class="validate[required]"></textarea>
						</td>
					</tr>
					<tr>
						<td>
							<label>Mã xác nhận <span class="required">*</span></label>
							<input type="text" id="contactCaptcha" required="" class="validate[required]" style="width:150px;">
							<img alt="Captcha" id="captchaImg" src="/CaptchaSecurityImages.php?width=100&amp;height=28&amp;characters=6">
						</td>
					</tr>
					<tr>
						<td>
							<input type="hidden" id="lgContact" value="vn">
							<input type="submit" value="Gửi đi">
							 <img src="/images/site/loader.gif" class="ajax-loader" alt="loader" style="position:absolute;display:none;">
						</td>
					</tr>
				</tbody></table>
			</form>
			<div class="ct_map"></div>
		</div>
	</div>
</div>
